@CHARSET "UTF-8";

button.warning,a.btn.warning,input[type="submit"].warning {
	border: 1px solid #9C5E09;
	background: #FBA633;
	background: -moz-linear-gradient(top, #FBA633, #DC840E) no-repeat scroll
		0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FBA633),
		color-stop(1, #DC840E) ) no-repeat scroll 0 0 transparent;
	border-image: initial;
}

button,a.btn,input[type="submit"] {
	-webkit-transition: -webkit-box-shadow 0.05s ease-out;
	display: inline-block;
	cursor: pointer;
	color: white;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.45);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #009BB8;
	background: -moz-linear-gradient(top, #009BB8, #00778D) no-repeat scroll
		0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #009BB8),
		color-stop(1, #00778D) ) no-repeat scroll 0 0 transparent;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) inset;
	border: 1px solid #004754;
	padding: 6px 14px;
	font-size: 14px;
	border-image: initial;
}

#bottomcr a {
	color: #A2A2A2;
	font-size: 11px;
	text-decoration: none
}

#bottom a {
	color: #900;
	font-size: 12px;
	text-decoration: none;
}

#bottoms a,#bottoms {
	color: #C00;
	font-weight: bold;
	font-size: 12px;
}

body,input,textarea {
	font: 14px/24px Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	color: #444;
	font-family: Helvetica, Arial, sans-serif;
}

.pkg {
	float: left;
	margin-right: 15px;
}

#outer {
	width: 750px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff;
	padding: 10px;
	border: 10px solid #f2f2f2;
}