body {
	background-color: black;
/* 	display: block; */
}

div {
	display: block;
}

#container,#pageHeader,#boundaryLine,#pageBody {
	padding: 5px;
/* 	width: 1300px; */
	width: 100%;
	margin: 0 auto;
}

#pageHeader {
	height: 50px;
	background-color: #311093;
}

#boundaryLine {
	height: 0.5px;
	background-color: #E7E586;
}

#pageBody {
	float: left;
	position: relative;
	height: 100%;
	background-color: #EEEDE2;
	position: relative;
}

#leftContents {
	float: left;
	position: relative;
	width: 823px;
	height: 100%;
	margin-left: 1px;
	background-color: white;
}

#midContents {
	float: left;
	position: relative;
	width: 20px;
	height: 100%;
	margin-left: 1px;
	background-color: #EEEDE2;
}

#rightContents {
	float: left;
	position: relative;
	width: 440px;
	height: 100%;
	margin-left: 1px;
	background-color: white;
}

#textContainer {
/* 	position: absolute; */
	width: 100%;
	height: 100%;
	background-color: white;
}

#toggleBtn {
	position: absolute;
	top: 40%;
	width: 100%;
	height: 100px;
	top: 40%;
}

#rightContentsHeader {
	position: relative;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: #EEEDE2;
}

#rightContentsBody {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}

.menuBtn {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 50px;
	border-style: none;
	background-color: #EEEDE2;
	font-style: bold;
	font-size: 1.2em;
}

#imageBtn {
	background-color: white;
}

#movieBtn {
	
}

#etcBtn {
	
}

#textTitleArea {
	width: 100%;
	height: 65px;
	background-color: white;
	padding-left: 2.5%;
	padding-top: 10px
}

#textTitle {
	width: 95%;
	height: 55px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	margin: auto;
	font: 25px bold, "Vollkorn";
	/* 	border-color:red; */
	/* 	border: none; */
	/* -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 25px;
	text-align: center;
	color: #BBB;
	 */
}

#textBodyArea {
 	position: absolute; 
	width: 100%;
	height: 50%;
	background-color: white;
	padding-left: 2.5%;
	padding-top: 10px;
}

#textBodyWep {
 	position: absolute; 
	width: 100%;
	background-color: white;
	padding-left: 2.5%;
	padding-top: 10px;
}

.tempDivArea {
	width: 95%;
	height: 150px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	margin-top: 3px;
	padding: 0;
}

#smartBox {
	width: 100%;
	height: 100%;
	background-color: white;
	margin: auto;
	padding: auto;
}

#smartTextArea {
	width: 99%;
	height: 80%;
	border: 1px dashed green;
	border-radius: 10px;
	float: left;
}

#addText,#deleteText {
	width: 4%;
	height: 10%;
	border-radius: 10px;
	float: left;
}

#addTextBtn {
	border-radius: 10px;
	/* 	border-color : white; */
	border: none;
	background-color: red;
	color: white;
	font-size: 2em;
}

#deleteTextBtn {
	border-radius: 10px;
	/* 	border-color : white; */
	border: none;
	background-color: green;
	color: white;
	font-size: 2em;
}

#saveTextBtn {
	border-radius: 10px;
	/* 	border-color : white; */
	border: none;
	background-color: yellow;
	color: white;
	font-size: 2em;
}
#asas {
	width:100%;
	height:100px;
}

