// 05. Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-button-classes: $include-html-classes;

// We use these to build padding for buttons.
$button-tny: rem-calc(10);
$button-sml: rem-calc(14);
$button-med: rem-calc(16);
$button-lrg: rem-calc(18);

// We use this to control the display property.
$button-display: inline-block;
$button-margin-bottom: rem-calc(20);

// We use these to control button text styles.
$button-font-family: $body-font-family;
$button-font-color: $white;
$button-font-color-alt: $oil;
$button-font-tny: rem-calc(11);
$button-font-sml: rem-calc(13);
$button-font-med: rem-calc(16);
$button-font-lrg: rem-calc(20);
$button-font-weight: $font-weight-normal;
$button-font-align: center;

// We use these to control various hover effects.
$button-function-factor: -20%;

// We use these to control button border styles.
$button-border-width: 0;
$button-border-style: solid;
$button-bg-color: $primary-color;
$button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);
$button-border-color: $button-bg-hover;
$secondary-button-bg-hover: scale-color($secondary-color, $lightness: $button-function-factor);
$secondary-button-border-color: $secondary-button-bg-hover;
$success-button-bg-hover: scale-color($success-color, $lightness: $button-function-factor);
$success-button-border-color: $success-button-bg-hover;
$alert-button-bg-hover: scale-color($alert-color, $lightness: $button-function-factor);
$alert-button-border-color: $alert-button-bg-hover;
$warning-button-bg-hover: scale-color($warning-color, $lightness: $button-function-factor);
$warning-button-border-color: $warning-button-bg-hover;
$info-button-bg-hover: scale-color($info-color, $lightness: $button-function-factor);
$info-button-border-color: $info-button-bg-hover;

// We use this to set the default radius used throughout the core.
$button-radius: $global-radius;
$button-round: $global-rounded;

// We use this to set default opacity and cursor for disabled buttons.
$button-disabled-opacity: .7;
$button-disabled-cursor: $cursor-default-value;

