@CHARSET "UTF-8";

.siteMap {
	height: 350px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	font-size: 15px;
}

.menuInfo {
	margin-left:10px;
}

.menu {
	margin-top:5px;
	margin-left:-10px;
	position: relative;
	line-height: 30px;
}

.childMenu {
	margin-top:5px;
	margin-left:50px;
	position: relative;
	line-height: 30px;
}

li:hover {
  color: black ;
  background-color: #def ;
}

.side {
	float: right;
}