button, .button {
    &.facebook {
       @include button-style($bg:#3b5998); 
    }

    &.no-margin {
        margin:0px;
    }

    &.no-decoration {
       @include button-style($bg:transparent); 
    }

    &.round.icon {
        border-radius: 50%;
        font-size: 24px;
        height: 56px;
        min-width:56px;
        margin: auto;
        text-align:center;
        cursor:pointer;
        min-width: 56px; 
        width: 56px;
        padding: 0;
        overflow: hidden;
        box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
        background-color:#E91E63 !important;
        line-height: normal;

        &.ocean {
            background-color:#00bcd4 !important;
        }

        &.green {
            background-color:#009688 !important;
        }


        .icon {
            -webkit-transform: translate(-12px,-12px) !important;
            -ms-transform: translate(-12px,-12px) !important;
            transform: translate(-12px,-12px) !important;
            position: absolute !important;
            top: 50% !important;
            font-size:24px !important;
            left: 50% !important;
            line-height: 24px !important; 
            width: 24px !important;
        }
    }
}

a.ghost-btn {
    font-family:'lato' ;
    font-weight:400;
    padding: 5px 16px; 
    font-size:14px;
    border-radius:5px;
    color:#3f51b5;
    transition:background-color 0.5s;
    &:hover {
        background-color:$silver;
    }

    &.primary {
        border:1px solid $primary-color ;
        color:$primary-color;

        &:hover {
            background-color: $primary-color ;
            color:#fff;
        }
    }
}

a.first-btn {
    position:absolute;
    z-index : 10000;
    top:-30px;
    right:0px; 
}
