.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius:2px;

    background:$white ;

    &.hover {
        background:$black;
    }

    .media-section {
        img {
            width:100%;
            //height:186px;
        }
    }

    .text-section {
        padding:16px;

        h6 {
            padding:0px;
            margin:0px;
            font-size:1.0rem;
            margin-bottom:10px;
            a {
                color:$black;
                font-size:1.0em;
            } 

        }

        .datetime {
            color:$jumbo;
            font-size:0.9em;
        }

    }

    .footer-section {
        border-top: 1px solid $gainsboro;
        padding:8px 10px;

        .button {
            margin:0px;
            border-radius:2px;
            padding:8px 8px;
            font-size:14px;
            background:$white ;
            color:#3f51b5;

            &:hover {
                background-color:$silver;
            }
        }

        ul.avatar-list { 
            list-style:none;
            width:200px;
            li {
                float:left;
                display:inline-block;
                margin-left:5px;

                a.avatar {
                    width:30px;
                    height:30px;
                    display:block;
                    text-align:center;
                    vertical-align:middle;
                    border-radius:50%;
                    background:$silver;
                    
                }
            }

            img {
                width:30px;
                border-radius:50%;
            }
        }
    }
}
