.remocon-wrapper {
    position:absolute;
    top:0px;
    left:-40px;

    ul.remocon { 
        list-style:none ;

        a {
            color:$monsoon ;
            display:inline-block;
            height:30px;
            &:hover {
                color:$primary-color;
            }
        } 
    }
}
