.section-divider {
    margin-top:50px;
    margin-bottom:50px;
    text-align:center;

    h6.caption { 
        padding: 0 12px;
        position: relative;
        display: inline-block;
        line-height: 34px !important;
        text-align:center;
        font-weight:100;
        font-size:1.5em;
        letter-spacing:.1em;
        &:before {
            right:100%;
        }
        &:after {
            left:100%;
        }

        &:before,&:after {
            content: ' ';
            width: 70%;
            position: absolute;
            border-width: 1px;
            border-color: #bbb;

            top: 17px;
            border-bottom-style: solid;
        } 
    }
}

.divider {
    height:1px ;
    border:0px;
    padding:0px;
    margin: 0px auto ; 

    &.divider-series {
        width:90%;
        margin:30px auto ;
        height:1px ;
        position:relative;
        background:#ddd ;

        &:after {
            content: "SERIES YOU CONTRIBUTE";
            color:#000 ;
            text-align:center;
            font-size:25px;
            display: block;
            position: absolute;
            top: -15px;
            left: 36%;
            padding-left:10px;
            padding-right:10px;
            height: 40px;
            width: 400px;
        }
    } 



    &.divider-or {
        width:90%;
        margin:30px auto ;
        height:1px ;
        position:relative;
        background:#ddd ;

        &:after {
            content: "or";
            color:#000 ;
            text-align:center;
            background:#fff ;
            font-size:25px;
            display: block;
            position: absolute;
            top: -15px;
            left: 46%;
            padding-left:10px;
            padding-right:10px;
            height: 40px;
            width: 44px;
        }
    } 

    &.divider-saegeul-badge {
        width:90%;
        margin:90px auto ;
        height:1px ;
        position:relative;
        background:#ddd ;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: -40px;
            left: 50%;
            margin-left: -60px;
            background: #fff url('/sgpack/assets/img/saegeul_small.png') no-repeat center center;
            height: 80px;
            width: 120px;
        }
    }
}
