.header {
    padding-top : 30px;
    padding-bottom:30px;
    background-color:$white;

    .header-inner {
        margin:0 auto; 
        max-width:1000px;
    }

    &.post-header { 
        padding-top : 90px;
        padding-bottom:90px;

        .header-inner {
            max-width:$post-width;
        }
    }
} 
