.left-off-canvas-menu {
    .logo {
        padding:10px;
    }

    .avatar-area { 
        padding:20px;
        background:$white-smoke;

        .avatar-wrapper {
            margin-bottom:10px;
            margin-top:10px;
            img {
                width:60px;
            }
        }
    }

    .sidebar-nav {
        ul {
            padding:0px; 
            margin:0px; 
            list-style:none;

            li {
                a {
                    display:block;
                    color:#333;
                    font-size:0.9rem;
                    padding:15px 20px;
                }
            }
        }
    }
}

.off-canvas-wrap {
    height:100% ;
    overflow:scroll;

    &.move-right {
        overflow:hidden;
    }

    .inner-wrap {
        height:100%;
    }

    .content-wrapper {
        height:100%;
    }
}

.mini-container {
    max-width:740px;
    position:relative;
    margin:0 auto;
}


.top-bar.fixed {
    position:fixed !important ;
}
