$mini-paper-width : 500px;

@mixin mini-paper {
    margin:0 auto;
    padding:25px;
    background:$white;
    box-shadow: 0px 1px 1px #aaa;
    width:$mini-paper-width;

}
.mini-paper { 
    @include mini-paper;

    &.no-padding {
        padding:0px;
    }

    &.transparent {
        background-color:transparent ;
        box-shadow:none;

        .field-group {
            input[type="text"],input[type="password"] {
                background:transparent;
            }
        }
    }
} 

form.mini-paper {
    margin-bottom:10px;
    .field-group {
        margin-bottom:30px; 

        $input-font-size: rem-calc(20) ;
        input[type="text"],input[type="password"] {
            font-size:$input-font-size ;
            border-width:0px; 
            border-bottom-width:1px;
            box-shadow :none;
            border-color:$black ;

            &:focus {
                border-color:$primary-color;
                border-bottom-width:2px;
                background-color:transparent;
            }
        }

        #url-wrapper {
            position:relative;
            span.prefix {
                position:absolute;
                left:0px;
                width:0px;
                top:-1px;
                text-align:left; 
                border-width:0px;
                @include prefix($white,$black) ;
                font-size:$input-font-size ;
            }

            input[type="text"] {
                padding-left:240px;
            }
        }
    } 

    .button {
        margin :0px;
    }
} 
