.reveal-modal.sg-reveal-modal {
    padding:0px; 
    font-size:20px;

    .modal-header {
        padding:20px;
        text-align:center; 

        h5 {
            font-size:1.1em;
            font-weight:400;
            color:#333;
        } 

        small {
            font-size: 0.8em;
            font-weight:200;
            color:#666;
        }
    }

    .modal-body {
        background-color:$white;
        padding:0px 20px 20px 20px; 
    }

    .form {
        label {
            display:inline-block; 
            padding-bottom:10px;
            
        }

        input,textarea {
            box-shadow :none;
            background-color:$white;
        }
    }
}

.callback-modal { 

    .name {
        text-align:center;
    }
    
    .description {
    }

    .indicator {
        text-align:center;
        color:#00E676;
        width:130px;
        margin:0 auto;
        border-radius: 50%;
        font-size:60px;
        padding-top:30px;
        padding-bottom:30px;
        border:5px solid #69F0AE ;
    }
} 

.modal {
    padding:0px;

    .modal-header {
        border-bottom:1px solid $silver;
        h2 {
            padding:16px;
            margin:0px;
            font-size:1.1em;
        }
    }

    .modal-body {
        padding:16px;
    }

    .modal-footer {
        border-top:1px solid $silver;
        padding:10px;
    }
}

.collaborator-modal {

    ul.collaborators {
        padding:0px;
        margin:0px;
        list-style:none;

        li.collaborator { 
            margin-bottom:5px;

            &.removed { 
                .description {
                    span.email {
                        text-decoration:line-through;
                    }
                }

            }

            .avatar-wrapper {
                padding-left:50px;

                .avatar {
                    margin-left:-50px; 
                    margin-right:10px; 
                    float:left;
                    img {
                        border-radius:50%;
                        width:50px;
                        height:50px;
                    } 
                }

                .description {
                    span.email {
                        display:block; 
                    } 

                    small {
                        font-size:0.8em;
                    }
                }

            }
        }
    } 
}
