ul.table-of-contents {
    list-style:none; 
}

.off-canvas-wrap {
    //height:100% ;

    .inner-wrap {
        //height:100%;
    }
}

.editor-toolbar-wrapper { 
    box-shadow : 1px 1px 1px #777 ;
    background-color:$white ;
    z-index:500;
    position:fixed ;
    width:100%;
    top:0px;

}

.editor-toolbar { 
    /*
    position:fixed;
    width:100%;
    z-index:500;
    top:0px;
    */

    a.ghost-btn {
    }

    trix-toolbar {
        background:$white ;

        .button_groups {
            height:50px;
        }


        .button_group {
            border:0px !important;

            button {
                border:0px !important; 
                padding: 1.3rem 1.3rem 1.3rem 1.3rem;

                &:before {
                    background-size: 40% !important;
                }

                &.active {
                    border-bottom: 1px solid #000 !important;
                    background: #EAEAEA;
                }
            }

            input[type=button] {
                &.active {
                    background: #EAEAEA;
                }
                &::before {
                    background-color:#fff;
                    background-size: 40% !important;
                }
            }
        }
    }

}

.post-wrapper { 
    font-size: 1.2rem;
    padding-top:30px;

    trix-editor { 
        border:0px;
        padding:0px;
    }

    a.series-link {
        color:#607D8B;
    }

    .wallpaper {
        padding-top:80px;
        padding-bottom:60px;

        text-align:center;
        a {
            i {
                font-size:42px;
            }
            color:$jet;
        }
    }


    input.title {
        border:0px;
        height:50px;
        box-shadow :none;
        padding-left:0px;
        font-size:1.7rem;
    }


    .post-content {
        border :0px;
        font-size: 0.9em;
        line-height:165%; 

        blockquote,p {
            max-width: $post-width ;
            line-height:165%;
            margin:15px auto;
        } 

        blockquote {
            font-style:italic;
            margin:25px auto;
            border-left:2px solid $jet;
        }

    }

    .comment-wrapper {
        background:$white-smoke;
        padding:40px 0px;
        .comment-inner {
            max-width: $post-width ;
            line-height:165%;
            margin:0px auto;

        }
    }

    .post-footer {
        background-color:$white ;

        .post-footer-inner {
            margin:15px auto;
            max-width: $post-width ;
        }

    }
}

.right-fixed-bar { 
    height:100%;
    width:250px;
    position:fixed ; 
    background:$oil; 
    top:0px !important;
    right:0px !important;
    z-index:1000; 
    transition: width 0.5s ;

    &.margin-top {
        margin-top: 112px;
    }

    .header {
        background-color:lighten($oil,10%) ;
        padding-top:10px;
        padding-left:15px;
        padding-bottom:10px;
        margin-bottom:10px;
        
        h6 {
            color:#fff;
            a {
                color:#fff;
            }
        }
    }

    ul.items {
        list-style:none;
        margin:0px;
        padding:0px;
        li { 
            a {
                display:block;
                padding:5px 10px;
                color: #939393;
                font-size:12px;

                span.label {
                    color:#fff ;
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }

    &.close {
        width:0px;
    }

    &.open {
        width:250px;
    }
}
