.profile-header-wrapper {
    margin-bottom:20px;
    background:$white;
    .profile-header {
        h1 { 
            font-weight:100;
            margin-top:70px;
            margin-bottom:70px;
        }
    }
}

.profile-content {
    padding-top:50px;
    padding-bottom:50px;
    font-weight:100;

    .field-group {
        font-size:20px;
        margin-bottom:25px;
        label {
            font-size:20px;
            margin-bottom:5px;
            display:block;
        }

        .description {
            color:$iron;
        }
    }
} 
