.signup-wrapper {
    .logo-wrapper {
        padding-top:80px;
        padding-bottom:40px;
        text-align:center;
    }

    .welcome-text {
        margin-top:20px;
        text-align:center;
    }
}
