.tabs {
    &.simple-tabs {
        .tab-title  {
            > a {
                background:transparent;
                padding: 0.5rem 1rem ;
                font-size:0.9rem;
            } 

            &.active {
                a {
                    border-bottom:1px solid #000;
                }
            } 
        } 
    }
}
