body {
    background-color:#f5f5f5 ;
}

.workspace-wrap { 
    background:$white-smoke;
    padding-top:115px;

    nav.top-bar {
        height:auto;
    }

    h6.title {
        font-size:1.5rem;
        padding-top:12px;
        padding-bottom:12px;
        margin:0px;
    } 

    .simple-tabs {
        margin-top:15px;
    }


    ul.list { 
        list-style:none;
        padding:0px;
        margin:0px;

        $left-column-width:100px;

        &.white-theme {
            > li {
                background-color:$white;
            }
        }

        > li { 

            &.draft {
                border-left:3px solid #C1C5C6 ;
            }

            &.published {
                border-left:3px solid #00E676 ;
            }

            padding-left:$left-column-width*1.1;
            padding-bottom:15px;
            margin-bottom:15px;
            border-bottom:1px solid #ccc;

            .left-column {
                width:100px;
                height:100px;
                margin-left:-$left-column-width*1.1;
                float:left;

                i {
                    color:#84939A;
                    font-size:6.5rem;
                }
            }

            .right-column {

                h6 {
                    margin:0px;
                    padding:5px 5px 0px 0px;
                    a {
                        color:$black;
                        font-size:1.2rem;
                    }
                }

                p.description {
                    color: $charcoal;
                    margin-bottom:5px;
                }

                ul.tag-list {
                    padding:0px;
                    margin:0px;

                    li.tag {
                        display:inline-block;
                        margin-right:15px;
                        color:#303F9F ;
                    }
                }

                .additional-information { 
                    font-size:0.8rem;
                    font-weight:200;

                    ul.information {
                        list-style:none;
                        margin:0px;
                        padding:0px;
                        font-size:inherit;

                        li { 
                            font-size:inherit;
                            display:inline-block;
                            padding:0px;
                            color:#3F51B5;
                            margin-right:30px;
                        }
                    }
                }
            } 
        } 
    }
}

.cover-wrap {
    padding-top:40px;

    .small-6 {
    .main-show {
        position:relative;
        height:200px;
        width:100%;

        .bg {
            position:absolute;
            width:100%;
            top:0px;
            left:0px;
            height:200px;
        }

        .text {
            position:absolute;
            width:100%;
            top:0px;
            left:0px;
            height:200px; 
            background-color:rgba(0,0,0,0.5) ;
            padding:30px;
            z-index:100;

            a {
                color:#fff;
                display:block;
                padding:10px;
                font-size:20px;
            }
        }
    }

    }
    .main-show {
        position:relative;
        height:400px;
        width:100%;

        .bg {
            position:absolute;
            width:100%;
            top:0px;
            left:0px;
            height:400px;
        }

        .text {
            position:absolute;
            width:100%;
            top:0px;
            left:0px;
            height:400px; 
            background-color:rgba(0,0,0,0.5) ;
            padding:30px;
            z-index:100;

            a {
                color:#fff;
                display:block;
                padding:10px;
                font-size:30px;
            }
        }
    }
}
