@CHARSET "UTF-8";

body {
	
}

#layout_center {
	margin-left: 120px;
	float: left;
	width: 50%;
	height: 600px;
	padding: 0 1%;
	float: left;
}

#layout_right {
	float: left;
	width: 36%;
	height: 600px;
	padding: 0 1%
}

.imgcheck {
	position: absolute;
}